@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Pull website */
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}
/* section 1 is starting */
.Banner{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Banner h4{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 16px;
    color: white;
}
.Banner h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 16px;
    color: white;
}
/* section 1 is end */

/* section 2 is starting */
.New-year-offer{
    margin: 120px auto 0;
    width: 755px;
    height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.New-year-offer div h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 30px;
}
.New-year-offer div h5{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 13px;
}
.New-year-offer div h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
}
.New-year-offer div img{
    width: 100%;
}
/* section 2 is end */

/* Section 3 is starting */
.midnight-party{
    margin: 120px auto 0;
    text-align: left;
    display: flex;
    gap: 48px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.midnight-div-left{
    padding: 100px;
}
.midnight-party div h1{
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    width: 65%;
}
.midnight-party div p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px 0 36px 0;
}
.midnight-party button{
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}
.midnight-div-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.midnight-div-right img{
    width: 270px;
    height: 380px;
    padding-right: 100px;
}
/* sections 3 end */
/* secitons 4 starting */
.joining-time-place{
    height: 482px;
    border-radius: 15px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 120px 0 120px 0;
    font-size: 22px;
    font-weight: 600;
    color: rgb(7, 2, 17);
}
.joining-time-place h3 span{
    color: red;
}
.joining-time-place button{
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    margin-top: 40px;

}
/* section 4 end */
/* Sections 5 starting */
.new-best-offer{
    height: 463px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.new-best-offer .div-1{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.new-best-offer .div-2{
    width: 34%;
}
.new-best-offer .div-3{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-best-offer .div-1 h4{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}
.new-best-offer .div-1 h2{
    font-size: 35px;
    font-weight: 900;
    color: rgb(7, 2, 17);
}
.new-best-offer .div-1 p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}
.new-best-offer .div-2 img{
    width: 364.84px;
    height: 364.84px;
}
.new-best-offer .div-2{
    width: 480px;
    height: 400px;
    border: 10px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-best-offer .div-3 h2{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.new-best-offer .div-3 img{
    width: 30%;
    margin-top: 50px;
}
.new-best-offer .div-3 p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}
/* section 5 end */

/* section 6 starting */
.holidays-sale{
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.holidays-sale .div-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.holidays-sale .div-1 h4{
    font-size: 25px;
    font-weight: 500;
    color:rgb(7, 2, 17)
}
.holidays-sale .div-1 h1{
    font-size: 55px;
    font-weight: 900;
    color: rgb(7, 2, 17)
}
.holidays-sale .div-1 span{
    color: rgb(255, 0, 0);

}
.holidays-sale .div-1 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    width: 800px;
    height: 96px;
}
.holidays-sale .div-2{
    display: flex;
    justify-content: space-around;
    background-image: url("../images/Rectangle\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover 50px;
}
.holidays-sale .div-2 .img-1{
    width: 500px;
    height: 400px;
    margin-top: 100px;
}
.holidays-sale .div-2 .img-2{
    width: 250px;
    height: 250px;
}
/* section 6 starting */