@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Pull website */
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}
/* section 1 is starting */
.Banner{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Banner h4{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 16px;
    color: white;
}
.Banner h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 16px;
    color: white;
}
/* section 1 is end */

/* section 2 is starting */
.New-year-offer{
    margin: 120px auto 0;
    width: 755px;
    height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.New-year-offer div h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 30px;
}
.New-year-offer div h5{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 13px;
}
.New-year-offer div h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
}
.New-year-offer div img{
    width: 100%;
}
/* section 2 is end */

/* Section 3 is starting */
.midnight-party{
    margin: 120px auto 0;
    text-align: left;
    display: flex;
    gap: 48px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.midnight-div-left{
    padding: 100px;
}
.midnight-party div h1{
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    width: 65%;
}
.midnight-party div p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px 0 36px 0;
}
.midnight-party button{
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}
.midnight-div-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.midnight-div-right img{
    width: 270px;
    height: 380px;
    padding-right: 100px;
}
